<div
	class="modal fade"
	[id]="idModal"
	[attr.aria-labelledby]="idModal + 'TitleModalId'"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" [id]="idModal + 'TitleModalId'" *ngIf="title">
					{{ title }}
				</h5>
				<button type="button" data-dismiss="modal" class="close" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<ng-content select=".modal-body"></ng-content>
			<ng-content select=".modal-footer"></ng-content>
		</div>
	</div>
</div>
<!--
    --- Required button to modal ---
    - The data-target should be equal to idModal attribute -
    <button class="btn btn-info btn-block" data-toggle="modal" data-target="#changeThis">
        Any Text
    </button>
-->
