<section id="welcome" class="container-fluid">
	<div class="row mh-900">
		<div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
			<div id="info">
				<h1>Aprende Como Nunca Antes.</h1>
				<p class="fw-light">Busca esa palabra que necesitas y aprende de ella.</p>
				<a routerLink="/" fragment="words" class="btn btn-primary"> Ver Palabras </a>
			</div>
		</div>
		<div class="col-6 p-0 d-none d-md-block">
			<div id="hand-container">
				<img id="hand" src="assets/images/hand.png" alt="Mano saludando" />
			</div>
		</div>
	</div>
</section>
<div class="container-fluid back-background"></div>
