<form [formGroup]="wordForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group">
		<label for="idCategory"> Categoría<span class="text-danger">*</span> </label>
		<select
			tabindex="1"
			type="text"
			id="idCategory"
			class="form-control"
			name="idCategory"
			formControlName="idCategory"
			[class.is-invalid]="
				wordForm.get('idCategory')?.touched && wordForm.get('idCategory')?.invalid
			"
		>
			<option *ngIf="creating" [ngValue]="null">Ninguna</option>
			<option *ngFor="let category of categories" [ngValue]="category._id">
				{{ category.name }}
			</option>
		</select>
		<div
			class="invalid-feedback"
			*ngIf="wordForm.get('idCategory')?.touched && wordForm.get('idCategory')?.invalid"
		>
			<div *ngIf="creating && wordForm.get('idCategory')?.errors.required">
				La categoría es obligatoria.
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="word"> Palabra<span class="text-danger">*</span> </label>
		<input
			tabindex="2"
			type="text"
			id="word"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="word"
			formControlName="word"
			[class.is-invalid]="wordForm.get('word')?.touched && wordForm.get('word')?.invalid"
		/>
		<div
			class="invalid-feedback"
			*ngIf="wordForm.get('word')?.touched && wordForm.get('word')?.invalid"
		>
			<div *ngIf="wordForm.get('word')?.errors.required">La palabra es obligatoria.</div>
			<div *ngIf="wordForm.get('word')?.errors.minlength">
				{{
					wordForm.get('word')?.errors.minlength.actualLength +
						' caracteres de ' +
						wordForm.get('word')?.errors.minlength.requiredLength +
						' requeridos.'
				}}
			</div>
			<div *ngIf="wordForm.get('word')?.errors.maxlength">
				{{
					'El maximo de caracteres permitidos son ' +
						wordForm.get('word')?.errors.maxlength.requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="definition">Definición</label>
		<textarea
			rows="4"
			tabindex="3"
			id="definition"
			class="form-control"
			name="definition"
			formControlName="definition"
			[class.is-invalid]="
				wordForm.get('definition')?.touched && wordForm.get('definition')?.invalid
			"
		></textarea>
	</div>
	<div class="form-group">
		<div class="form-check">
			<input
				tabindex="4"
				class="form-check-input"
				type="checkbox"
				id="visible"
				formControlName="visible"
			/>
			<label class="form-check-label" for="visible">Visible</label>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="conceptVideo">Video Concepto</span>
				</div>
				<div class="custom-file">
					<input
						tabindex="5"
						type="file"
						id="conceptVideo"
						class="custom-file-input"
						name="conceptVideo"
						[class.is-invalid]="
							wordForm.get('conceptVideo')?.touched &&
							wordForm.get('conceptVideo')?.invalid
						"
						formControlName="conceptVideo"
						(change)="onFileChange($event, 0)"
						accept=".mp4, .mov, .ogv, .webm"
					/>
					<label class="custom-file-label" for="conceptVideo">{{
						wordForm.value.conceptVideo
							? wordForm.value.conceptVideo
							: 'Escojer Archivo'
					}}</label>
				</div>
			</div>
		</div>
		<div class="form-group col-md-6">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="meaningVideo">Video Significado</span>
				</div>
				<div class="custom-file">
					<input
						tabindex="5"
						type="file"
						id="meaningVideo"
						class="custom-file-input"
						name="meaningVideo"
						[class.is-invalid]="
							wordForm.get('meaningVideo')?.touched &&
							wordForm.get('meaningVideo')?.invalid
						"
						formControlName="meaningVideo"
						(change)="onFileChange($event, 1)"
						accept=".mp4, .mov, .ogv, .webm"
					/>
					<label class="custom-file-label" for="meaningVideo">{{
						wordForm.value.meaningVideo
							? wordForm.value.meaningVideo
							: 'Escojer Archivo'
					}}</label>
				</div>
			</div>
		</div>
	</div>
</form>
