<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Bienvenido Al Diccionario de Neologismos</h1>
        <p class="lead">Hecho por: Juan David Gaviria Correa</p>
    </div>
</header>
<app-home-section>
    <h2>Acerca de esta pagina</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore sequi enim obcaecati excepturi nulla ab iste impedit quibusdam saepe ratione fugiat nostrum ut facilis quaerat, repellat aliquid tempora quam adipisci.</p>
</app-home-section>
<app-home-section sectionClass="bg-light">
    <h2>Servicios</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    </ul>
</app-home-section>
<app-home-section>
    <h2>Contactanos</h2>
    <p class="lead">Aqui van los datos de contacto o incluso un formulario.</p>
</app-home-section>