<section id="welcome" class="container-fluid">
	<div class="row vh-100">
		<div id="info" class="col-6">
			<div id="info-text">
				<h1>Aprende Como Nunca Antes.</h1>
				<p class="fw-light">Busca esa palabra que necesitas y aprende de ella.</p>
				<a routerLink="/" fragment="words" class="btn btn-primary"> Ver Palabras </a>
			</div>
		</div>
		<div id="hand-container" class="col-6">
			<img id="hand" src="assets/images/hand.png" alt="Mano saludando" />
		</div>
	</div>
</section>
<section id="words">
	<div class="row">
		<h2 id="filters-title">Filtros</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore consectetur totam
			enim exercitationem laborum blanditiis eaque a. Quaerat atque vitae reprehenderit, eius
			tempora facere soluta voluptatem necessitatibus asperiores qui debitis?
		</p>
	</div>
</section>
