@import 'styles/variables.scss';

#welcome {
	height: 1196px;
	background: url('../../../../../assets/images/background.png') no-repeat;
}

.mh-900 {
	min-height: 900px;
}

#info {
	h1 {
		width: 90px;
		font-size: 80px;
	}
	p {
		width: 350px;
		font-size: 25px;
	}
	a {
		padding: 1.2rem;
	}
}

#hand-container {
	padding: 0;
	max-height: 100vh;
	#hand {
		position: relative;
		bottom: 60px;
		float: right;
		animation: waving-hand 3s infinite;
		transform-origin: bottom right;
	}
}

@keyframes waving-hand {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

// Section Two

.back-background {
	position: relative;
	top: -120px;
	z-index: -10;
	height: 120px;
	margin-bottom: -120px;
	background: $cream;
}

.bg-cream {
	background: $cream;
}

.fix-bg {
	position: relative;
	top: -40px;
	margin-bottom: -40px;
}

#filters-title {
	font-size: 50px;
	font-weight: 500;
}
