<div class="container-fluid">
	<div class="row">
		<div class="col">
			<a href="https://www.itm.edu.co/" target="_blank">
				Derechos de autor &copy; ITM 2022
			</a>
		</div>
		<div class="col text-end">
			<a>Políticas de privacidad</a> &middot; <a>Términos y condiciones</a>
		</div>
	</div>
	<div class="row py-2 mt-2 border-top border-1">
		<div class="col">
			Creado y diseñado por:
			<a href="https://juanda237.herokuapp.com/" target="_blank">Juan David Gaviria Correa</a
			>.
		</div>
	</div>
</div>
