<div class="row">
	<div class="col">
		<div class="card m-2">
			<div class="card-header">{{ creating ? 'Creando' : 'Editando' }} Palabra</div>
			<div class="card-body">
				<app-words-form
					(onSubmitEvent)="createOrUpdateWord()"
					(invalidForm)="invalidForm = $event"
					(creatingForm)="creating = $event"
				></app-words-form>
			</div>
			<div class="card-footer">
				<ng-container *ngIf="creating; else editButtons">
					<div class="btn-group text-center d-block">
						<button
							class="btn btn-success btn-block"
							(click)="createOrUpdateWord()"
							[disabled]="invalidForm"
						>
							<i class="fas fa-save" title="Guardar"></i> Guardar
						</button>
					</div>
				</ng-container>
				<ng-template #editButtons>
					<div class="btn-group w-100">
						<button
							class="btn btn-info"
							(click)="createOrUpdateWord()"
							[disabled]="invalidForm"
						>
							<i class="fas fa-edit" title="Editar"></i> Editar
						</button>
						<button class="btn btn-danger" (click)="deleteWord()">
							<i class="fas fa-trash-alt" title="Eliminar"></i> Eliminar
						</button>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>
