$blue-1: #1a237e;
$blue-2: #2196f3;
$blue-3: #b2ebf2;
$cream: #f1f8e9;
$candy-red: #f50057;

$facebook: #3b5998;
$messenger: linear-gradient(180deg, #00b2ff 50%, #006aff 100%);
$whatsapp: #4fce5d;
$message: red;
$email: #c71610;
$instagram: radial-gradient(
	circle at 30% 107%,
	#fdf497 0%,
	#fdf497 5%,
	#fd5949 45%,
	#d6249f 60%,
	#285aeb 90%
);
