<div class="table-responsive">
    <table class="table table-hover" [ngClass]="extraClass">
        <thead>
            <tr>
                <th *ngFor="let column of columns; let i = index" [class]="thExtraClass[i]">{{ column }}</th>
            </tr>
        </thead>
        <tfoot *ngIf="footer">
            <tr>
                <th *ngFor="let column of columns; let i = index" [class]="thExtraClass[i]">{{ column }}</th>
            </tr>
        </tfoot>
        <tbody>
            <ng-content></ng-content>
        </tbody>
    </table>
</div>