<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" id="adminNav">
    <a class="navbar-brand" routerLink="words">Diccionario De Neologismos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar" aria-controls="admin-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="admin-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="categories" routerLinkActive="active">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="words" routerLinkActive="active">Palabras</a>
            </li>
            <li class="nav-item dropdown dropdown-user no-caret">
                <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">{{ user.name }}</div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/">Configuracion</a>
                    <a class="dropdown-item" routerLink="/">Actividad</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/">Cerrar Seccion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>